.navibar{
  background-color: rgba(0, 0, 0, 0.384);

}

.imagecontainer{

  background-image: url('./assets/bgdesign.png');
  height: 600px;
  background-size: cover;
 
}


.logo{
  color: white;
  font-size: 1.5rem;
  padding: 1%;
}

.specialdish{
  background-color: rgba(0, 0, 0, 0.432);
}

.image{
  height: 200px;
  width: 200px;
  box-shadow: 5px 5px 10px 5px  black;

}
.aboutcontact{
  background-color: rgba(0, 0, 0, 0.568);
  color: white;
  padding: 2%;
  display: flex;
  flex-direction: row;
}
.aboutus{
  text-align: justify;
  
}

.footer{
  background-color: rgba(2, 19, 13, 0.993);
  color: white;
}


.dessserts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
h3{
  color: rgb(41, 40, 40);
}
.pricetag{
  font-size: 1.5rem;
}
.dessserts Button{
  background-color: red;
  border-color: brown;
  

}