.navibar{
  background-color: rgba(0, 0, 0, 0.384);

}

.imagecontainer{

  background-image: url('./assets/bgdesign.png');
  height: 600px;
  background-size: cover;
 
}


.logo{
  color: white;
  font-size: 1.5rem;
  padding: 1%;
}

.specialdish{
  background-color: rgba(0, 0, 0, 0.432);
}

.image{
  height: 200px;
  width: 200px;
  box-shadow: 5px 5px 10px 5px  black;

}
.aboutcontact{
  background-color: rgba(0, 0, 0, 0.568);
  color: white;
  padding: 2%;
  display: flex;
  flex-direction: row;
}
.aboutus{
  text-align: justify;
  
}

.footer{
  background-color: rgba(2, 19, 13, 0.993);
  color: white;
}


.dessserts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
h3,h2{
  color: rgb(0, 155, 77);
}
.pricetag{
  font-size: 1.5rem;
}
.dessserts Button{
  background-color: red;
  border-color: brown;
  

}

.logincontainer{
  background-color: rgba(255, 255, 255, 0.726);
  padding: 2%;
  margin-top: 5%;
  border: 1px solid black;
  max-width: 30%;
  border-radius: 20px;
  box-shadow: 5px 5px 40px black;
}

.logincontainer Button{
  width: 100%;
margin: 10% 0;
background-image: linear-gradient(to right top, #076d21, #0f8f2d, #19b33a, #24d946, #31ff53);
border: none;
}