.navibar{
  background-color: whitesmoke;
  box-shadow: 2px 2px  40px black;
  border: 1px solid black;
}

.dashboard{
  font-size:  1.5rem;
  padding:  0 2%;
  font-weight: 900;
  color: rgb(83, 83, 83);
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  font-style: normal;
}



.navtext{
  border-bottom: 2px solid whitesmoke;
  margin: 0 10px;
  
}

.navtext:hover{
  border-color: green;
  transition: border-color 2s ease-in;
  border-bottom-style: solid;

}
.homesub{
  
  padding: 2%;
}
.homesub1{
 padding: 3%;
 font-weight: bolder;
 box-shadow: inset;
 border: 1px solid rgb(231, 209, 209);
  text-align: center;
  background-color: rgba(240, 228, 228, 0.623);
  border-radius: 1rem;
}

.homesub1 .ordernow{
  font-size: 2rem;
  
}
.homesub1 .ordernow .order{
 color: rgb(148, 4, 4);
 filter: drop-shadow(0 0 4px crimson);
}
.homesub1 .ordernow .now{
  color: black;
 }


.homesub2{
  background-color: #5e8405;
}

.loginbutton{
  background-color: #05843c;
  padding: 10px;
  border-radius: 10%;
  color: white;
}
.imagecontainer{
  width: 100%;
  height: 800;
  object-fit: cover;
}
.loader{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
super{
  color: red;
}
.logo{
  color: white;
  font-size: 1.5rem;
  padding: 1%;
}

.specialdish{
  background-color: rgba(0, 0, 0, 0.432);
}

.image{
  height: 200px;
  width: 200px;
  box-shadow: 5px 5px 10px 5px  black;

}

.review{
  display: flex;
 flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

}
.allreview{
  margin: 2%;
}
.aboutcontact{
  background-color: rgba(0, 0, 0, 0.568);
  color: white;
  padding: 2%;
  display: flex;
  flex-direction: row;
}
.aboutus{
  text-align: justify;
  
}

.footer{
  background-color: rgba(2, 19, 13, 0.993);
  color: white;
}


.menu-category{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.item-description{
  text-align: justify;
}
h3,h2{
  color: rgb(0, 155, 77);
}
.pricetag{
  font-size: 1.2rem;
}
.menu-category .btnadd{
  background-image: linear-gradient(to right top, #026d30, #05843c, #089b49, #0bb357, #0dcc65, #0bd466, #0bdb68, #0be369, #09db5d, #08d351, #07cc44, #06c437);
  border-color: rgb(0, 0, 0);
}

.menu-category .btnremove{
  background-color: red !important;
}

.logincontainer{
  background-color: rgba(255, 255, 255, 0.726);
  padding: 2%;
  margin-top: 5%;
  border: 1px solid black;
  max-width: 30%;
  border-radius: 20px;
  box-shadow: 5px 5px 40px black;
}

.logincontainer Button{
  width: 100%;
margin: 10% 0;
background-image: linear-gradient(to right top, #076d21, #0f8f2d, #19b33a, #24d946, #31ff53);
border: none;
}

.signupcontainer{
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.726);
  padding: 2%;
  margin-top: 3%;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 40px black;
}


.signupcontainer Button{
  
background-image: linear-gradient(to right top, #076d21, #0f8f2d, #19b33a, #24d946, #31ff53);
border: none;

}

.cartmaincontainer{
  margin: 5%;
  padding: 1rem;
  border: 2px solid rgba(190, 190, 190, 0.719);
  box-shadow: 2px 2px 10px  rgb(160, 157, 157);
  background-color: whitesmoke;
}

.cartheading{
  display: flex;
  justify-content: space-around;
  padding:  0 1rem;
}

.cartcontainer{
  margin: 2%;
 padding: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;

}

.cartcontainer .cartimgcontainer{
 display: flex;
justify-content: flex-start;
align-items: center;
}

.cartimage{
  background-color: #05843c;
  max-width: 200px;
  max-height: 200px;
}

 .cartimage image{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.quantitycontainer{
  display: flex;
  padding: 1%;
}

.plus{
  background-color: #09db5d;
  border: none;
  margin: 1%;
  width: 2rem;
  font-weight: bolder;
  height: 2rem;
}

.minus{
  background-color: #db2109;
  border: none;
  margin: 1%;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-weight: bolder;
  
}

.plus:hover{
  background-color: #098a3c8c;
 
}
.minus:hover{
  background-color: #8a0d098c;
 
}
.itemquantity{
  padding: 2%;
}

.btnremove{
  background-color:  rgb(187, 3, 3);
  border: none;
}
.btnremove:hover{
  background-color: rgba(187, 3, 3, 0.644);
}

.totalamount{
  width: fit-content;
  font-weight: 300;
  box-shadow: 0px 0px 10px  rgb(68, 63, 63);
  padding: 1%;
  border-radius: 8px;
}


.checkout Button{
  background-color: #026d30;
  border: none;
  
}

.order{
  background-color: rgb(180, 177, 177);
}
.orderitem{
  margin: 2% ;
  border: 2px solid black;
}


.threebar{
  display: none;
}







@media screen and (max-width: 900px){
  .navicontain{
    display: none;
  }
}